#fondo{
    color: white;
    background-color:#990033;
    border-radius: 10px;
    margin-top: 290px;
}
body {
	margin-top: 0px;
	margin-bottom: 0px;
	background: none;
}

.full {
  background: url(../../models/images/home.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
