#fondo{
    color: white;
    background-color:#990033;
    border-radius: 10px;
    height: 70px;
}
body {
	margin-top: 0px;
	margin-bottom: 0px;
	background: none;
}

.full {
  background: url(../../models/images/home.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container-fluid{
    min-height: 100%;
    position: relative;
}
.clearfooter{
    height:450px;
    clear: both;
}
.final{
    height: 10px;
    position: relative;
}
.welcome{
    font-size: 48px;
    font-weight: bold;
    color: #AE033E;
    text-shadow: 1px 0.5px white;
}
.numoffers{
    font-weight: bold;
    color:#AE033E;
    text-shadow: 1px 0.5px black;
    border: outset;
    border-radius:10px;
}
.inscriptions{
    font-size: 36px;
    font-weight: bold;
    color:#AE033E;
    text-shadow: 1px 0.5px black;
}
.profile{
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
    color:#AE033E;
    text-shadow: 0.8px 0.2px black;
}
.allprofile{
    color: black;
    text-shadow: 0.5px 0.1px white;
    background-color: transparent;
    border-radius: 10px;
}
.worktitle{
    color:#990033;
}
.navi{
    border-radius: 10px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 12px 11px 79px -24px rgba(125,26,51,0.63);
    -moz-box-shadow: 12px 11px 79px -24px rgba(125,26,51,0.63);
    box-shadow: 12px 11px 79px -24px rgba(125,26,51,0.63);
}